<html>
    <body>
        <h1>{{.Name}}</h1>
        <div style="text: align-center">
            {{range .Fields}}
                <h2>{{.Name}}</h2>
                <p>{{.Content}}</p>
            {{end}}
        </div>
    </body>
</html>